@media (min-width: 768px){
	.mainDashboard {
	    padding-right: 40px;
	    padding-left: 40px;
	}
}
.mainDashboard {
	top:52px;
    padding: 20px;
}

.active{
	background-color:#dedcdc;
}

a {
    color: #700000;
    text-decoration: none;
}

a:hover {
    color: #940303;
    text-decoration: none;
}